<div class="row">
  <div class="col-md-9">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-3">
    <div class="panel panel-primary" id="mydiv">
      <div class="panel-heading title-bar" id="mydivheader">
        <h3 class="panel-title title-bar-text"><%= current_user.username %></h3>
          <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <%= link_to '<button aria-label="Close"></button>'.html_safe, destroy_user_session_path, method: :delete %>
          </div>
      </div>
      <div class="panel-body">
        <%= image_tag "logo.png", style: 'height:140px' %>
        <h4>Buddies (<%= User.where(online_status: true).length %>/<%= User.all.length %>)</h4>
        <ul>
          <% @users.each do |user| %>
            <% if user.online_status == true %>
              <li><%= link_to user.username, conversations_path(user_id: user), remote: true, method: :post %></li>
            <% end %>
          <% end %>
        </ul>
        <h4>Offline (<%= User.where(online_status: false).length %>/<%= User.all.length %>)</h4>
        <ul>
          <% @users.each do |user| %>
            <% if user.online_status == false %>
              <li><%= user.username %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>