<!DOCTYPE html>
<html>
  <head>
    <title>ScreenAIM</title>
    <%= csrf_meta_tags %>
    <%#= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'https://unpkg.com/xp.css' %>
    <%= stylesheet_link_tag    'application', media: 'all'  %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= image_tag "mycomp_icon.png", id: 'mycomp_icon' %>
    <%= image_tag "internetexplorer_icon.png", id: 'IE_icon' %>
    <%= image_tag "sims_icon.png", id: 'sims_icon' %>
    <%= image_tag "limewire_icon.png", id: 'limewire_icon' %>
    <%= image_tag "recyclebin_icon.png", id: 'recyclebin_icon' %>
    <div class="container">
      <%= yield %>
    </div>
    <script>
      dragElement(document.getElementById("mydiv"));

      function dragElement(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        if (document.getElementById(elmnt.id + "header")) {
          document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
        } else {
          elmnt.onmousedown = dragMouseDown;
        }

        function dragMouseDown(e) {
          e = e || window.event;
          e.preventDefault();
          pos3 = e.clientX;
          pos4 = e.clientY;
          document.onmouseup = closeDragElement;
          document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
          e = e || window.event;
          e.preventDefault();
          pos1 = pos3 - e.clientX;
          pos2 = pos4 - e.clientY;
          pos3 = e.clientX;
          pos4 = e.clientY;
          elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
          elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        }

        function closeDragElement() {
          document.onmouseup = null;
          document.onmousemove = null;
        }
      };
    </script>
  </body>
  <footer class="footer"><%= image_tag "start_button.png" %><span id="time"><%= Time.now.strftime("%I:%M %p")%></span></footer>
</html>
