<!DOCTYPE html>
<html>
  <head>
    <title>ScreenAIM</title>
    <%= csrf_meta_tags %>
    <%#= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'https://unpkg.com/xp.css' %>
    <%= stylesheet_link_tag    'application', media: 'all'  %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="icon-footers">
      <p>My Computer<br>
      Recycle Bin<br>
      Internet Explorer<br>
      The Sims<br>
      Limewire 3.7.2</p>
    </div>
    <%= image_tag "mycomp_icon.png", id: 'mycomp_icon' %>
    <%= image_tag "internetexplorer_icon.png", id: 'IE_icon' %>
    <%= image_tag "sims_icon.png", id: 'sims_icon' %>
    <%= image_tag "limewire_icon.png", id: 'limewire_icon' %>
    <%= image_tag "recyclebin_icon.png", id: 'recyclebin_icon' %>
    <div class="container">
      <%= yield %>
    </div>
    <script>
      dragElement(document.getElementById("mydiv"));
    </script>
  </body>
  <footer class="footer"><%= image_tag "start_button.png" %><span id="time"><%= Time.now.strftime("%I:%M %p")%></span></footer>
</html>